@page {
  size: A4;
  margin: 1cm;
}

* {
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

/* grid area */
.cv-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "personal summary"
    "education experience"
    "skill experience"
    "certificate experience";
}

.header {
  grid-area: personal;
  font-size: small;
  background-color: black;
  color: white;
  padding: 4mm;
}

.header .name,
.header .roles {
  font-size: 20px;
  text-align: center;
  color: white;
}

.header .telp,
.header .location,
.header .web,
.header .email {
  font-size: 14px;
  font-weight: light;
}

.email:before {
  content: "Email : ";
}

.web:before {
  content: "Web : ";
}

.telp:before {
  content: "Telp : ";
}

.location:before {
  content: "Address : ";
}

.summary {
  grid-area: summary;
  background-color: rgb(222, 233, 219);
  padding: 4mm;
  page-break-inside: avoid;
}

.education {
  grid-area: education;
  background-color: black;
  color: white;
  padding: 4mm;
  page-break-inside: avoid;
}

.skills {
  grid-area: skill;
  background-color: black;
  color: white;
  padding: 4mm;
  page-break-inside: avoid;
}

.certificates {
  grid-area: certificate;
  background-color: black;
  color: white;
  padding: 4mm;
  page-break-inside: avoid;
}

.experience {
  grid-area: experience;
  grid-row: 2 / 5;
  background-color: rgb(222, 233, 219);
  padding: 4mm;
  page-break-inside: avoid;
}

.itemcv {
  background-color: rgb(240, 98, 10);
  padding: 1mm;
  border-bottom-right-radius: 4cm;
}

.header img {
  display: block;
  width: 4cm;
  height: 4cm;
  border: 2px solid white;
  border-radius: 4cm;
}

.edu-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3mm;
}

.edu-right {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.edu-detail {
  text-align: right;
}

.edu-sub {
  color: #555;
}

.exp-item {
  margin-bottom: 15px;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.exp-detail {
  text-align: right;
  font-size: 0.9em;
  color: #555;
}

.cert-item {
  font-size: 15px;
}

.skill-list {
  list-style: disc inside;
}
