@page {
  size: A4;
  margin: 1cm;
}

@font-face {
  font-family: "Carlito";
  src: url("../font/carlito/Carlito-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../font/carlito/Carlito-Bold.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../font/carlito/Carlito-Italic.ttf") format(truetype);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Carlito";
  src: url("../font/carlito/Carlito-BoldItalic.ttf") format(truetype);
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "Carlito", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  line-height: 1.25;
}

p {
  font-size: smaller;
}

.section-box {
  margin-top: 2mm;
}

.cv-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}
h1,
h2 {
  line-height: 1.2;
}

.header-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.email,
.telp,
.location {
  flex-grow: 1;
}

.summary {
  text-align: justify;
}

.itemcv {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
}

.itemcv::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #444;
}

.edu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.edu-left h5 {
  font-weight: bold;
}
.edu-right {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.edu-detail {
  text-align: right;
}

.edu-sub {
  font-size: 0.9em;
  color: #555;
  margin-left: 10px;
}

.exp-item {
  margin-bottom: 5px;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.exp-detail {
  text-align: right;
  font-size: 0.9em;
  color: #555;
}

.exp-info p:nth-child(1) {
  background-color: rgb(197, 205, 213);
}

.jobdesc {
  margin: 5px 0 0 20px;
  text-align: justify;
}

.skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill-list li {
  background-color: #ded4d4;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
