body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #657484;
  margin: 0;
  padding: 0;
  padding-top: 90px;
}

.contentcvs {
  background-color: #657484;
}

.cv-preview {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.cv-container {
  padding: 15px;
  border: 2px solid black;
}

.cvpreviewssss {
  background-color: rgb(209, 210, 218);
  padding: 20px;
  border-radius: 12px;
}

/* Mobile Phone */
@media screen and (max-width: 750px) {
  .cv-preview {
    grid-template-columns: 4fr 1fr;
  }

  .cv-container {
    width: 100%;
  }

  .cvpreviewssss {
    width: 100%;
    font-size: small;
  }

  .header h4 {
    font-size: small;
  }

  .label_css {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Mobile Phone */
@media screen and (max-width: 576px) {
  .cv-preview {
    grid-template-columns: 1fr;
  }

  .cvpreviewssss h3::after {
    content: "(only available in desktop size)";
    display: block;
    font-size: small;
  }

  .cvpreviewssss {
    width: 100%;
  }

  .cv-container {
    width: 100%;
    font-size: smaller;
    display: none;
  }

  .label_css {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
